/*General */ 
html{
    font-family: "Roboto", sans-serif;
    background-color: #f0ede7;
    color:rgb(13, 12, 12);
}
body{
    margin:0;
}
*,*::before, *::after{
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    padding: 0 1rem;
    max-width:  80rem;
}
header .container{
    display: flex;
    justify-content: space-between;
}
header a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    padding: 1rem 2rem;
    display: inline-block;
 }
 
 header nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
 }
 
 header nav a {
    background-color: rgb(223, 216, 189);
    color:#724c39;
    transition: color 2s ease-in-out;
 }

 header nav a:hover,
 header nav a:focus-visible{
    color: #d08787;
    background-color:#f7f1ea;
 }
 header nav a.active{
    color: #030303;
    background-color:#f7f1ea;
 }
 header button .contact{
   color:rgb(12, 12, 9);
   font-size: 1.5rem;
   text-decoration: none;
   background: #c07272;
   border-radius: 0.5rem;  
 }
 .logo{
  font-size: 2rem;
}

 /* Footer*/
 footer{
  position: absolute;
  bottom: 12;
  margin-top: 5rem;
  left: 0;
  right: 0;
  background:  #85888d;
  height: 20rem;
  width: 100vw;
  color: #fff;
 }

 .footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
 }

 .footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
 }

 .footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: black;
 }
 .socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
 }

 .socials li{
  margin: 0 10px;
 }

 .socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
 }

 .socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
 }

 .socials a:hover i{
  color: aqua;
 }

 .footer-bottom{
    background:  #d8d8d9;
    width: 100vw;
    padding: 0.625rem;
    padding-bottom: 0.625rem;
    text-align: center;
 }
 .footer-bottom p{
    float: left;
    font-size: 0.875rem;
    word-spacing: 0.125rem;
    text-transform: capitalize;
 }
 
 .footer-bottom p a{
    color: #44bae8;
    font-size: 1rem;
    text-decoration: none;
 }
 
 .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
 }

 /*CV gegevens */
h1{
    color: #cd728c;
    font-size: 2.5rem;
    width: 70.625rem;
    margin: 3.125rem auto;
    margin-left: 6.25rem;
}

img{
   max-width: 100%;
   margin-left: 9.375rem;
}

.text{
    margin-left: 31.25rem;
    margin-right: 2rem;
    padding-bottom: 1.20rem;
    padding-top: -0.620rem;
    align-items: center;
    font-size: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: absolute;
    bottom: 18.75rem;
    right: 37.5rem;
    top: 12.5rem;
    left: 30rem;
    margin: 0rem;
}

h2{
  width: 50rem;
  height: 5rem;
  color:#c26ed3;
  padding-left: 4rem;
  padding-top: 2rem;
  margin: 0 5rem; 
}

.info p{
  margin: 0 9rem;
}

