/*General */ 
html{
    font-family: "Roboto", sans-serif;
    background-color: #f0ede7;
    color: #111;
}
body{
    margin:0;
}
*,*::before, *::after{
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 80rem;
}
header .container{
    display: flex;
    justify-content: space-between;
}
header a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    padding: 1rem 2rem;
    display: inline-block;
 }
 
 header nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
 }
 
 header nav a {
    background-color:  rgb(223, 216, 189);
    color:#724c39;
    transition: color 2s ease-in-out;
 
 }
 header nav a:hover,
 header nav a:focus-visible{
    color: #d08787;
    background-color:#f7f1ea;
 }
 header nav a.active{
    color: #030303;
    background-color:#f7f1ea;
 }
 header button .contact{
   color:rgb(12, 12, 9);
   font-size: 1.5rem;
   text-decoration: none;
   background: #c07272;
   border-radius: 0.5rem; 
 }
 .logo{
  font-size: 2rem;
}

 /* Projecten eerste rij */
h1{
    color: #cd728c;
    font-size: 2.5rem;
    width: 70.625rem;
    margin: 1.875rem auto;
    margin-left: 6.25rem;
}
.column {
    float: left;
    width: 25%;
    padding: 0 0.625rem;
}
@media screen and (max-width: 37.5rem) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 1.25rem;
    }
  }
  .card{
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2); 
    padding: 1rem;
    text-align: center;
    background-color: #abc0e1;
  }
  .row{margin: 0 -0.313rem;}

.row:after {
  content: "";
  display: table;
  clear: both;
  border-spacing: 2.5rem;
}
.card:hover {
    box-shadow: 0rem 1.875rem 1.125rem -0.5rem rgba(0, 0, 0,0.1);
      transform: scale(1.10, 1.10);
  }

  /*Projecten Tweede Rij */
  .row2{margin: 0 -0.313rem;}

  .row2:after{
    content: "";
    display: table;
    clear: both;
    border-spacing: 2.5rem;
  }

  .column2{
  float: left;
  width: 25%;
  padding: 0 0.625rem; 
  }

  @media screen and (max-width: 37.5rem) {
    .column2 {
      width: 100%;
      display: block;
      margin-bottom: 1.25rem;
    }
  }

  .card2{
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2); 
    padding: 1rem;
    text-align: center;
    background-color: #abc0e1;
  }
 .card2:hover {
    box-shadow: 0rem 1.875rem 1.125rem -0.5rem rgba(0, 0, 0,0.1);
      transform: scale(1.10, 1.10);
  }


  /* Contact */
  h6{
    margin-top: 10rem;
    color: black;
    font-size: 1.5rem;
    padding: 0.625rem 0.625rem;
    margin-bottom: 0rem;
  }

  .contact p{
    font-size: 1.25rem;
    color: #000;
    text-align: center;
    position: static;
    margin-top: 4rem;
    margin-bottom: 5rem;
}
.contact{
    position: static;
    text-align: center;
    height: 25rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    background-color: #d3d3d3;
    color: #0e0d0d;
    font-size: 1rem; 
}

.contact button{
  margin: 0;
  position: static;
  margin-right: 4.375rem;
  margin-top: 2rem;
  margin-bottom: 12.5rem;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color:rgb(20, 19, 19);
  font-size: 1.25rem;
  text-decoration: none;
  background: #b2dce9;   
  border-radius: 2em;   
}

    /* FOOTER */
    .social{
      padding: 1.25rem;
      font-size: 1.875rem;
      width: 3.125rem;
      text-align: center;
      display: flex;
      text-decoration: none;
      margin: 0.313rem 0.125rem;
    }
      .social:hover {
            opacity: 0.7;
        }
    
      .fa-facebook {
        background: #3B5998;
        color: white;
        display:inline-block;
        vertical-align:top;
        margin-right: 1em;
        padding-left: 10%;
      }
      .fa-instagram {
        background: #125688;
        color: white;
        display:inline-block;
        vertical-align:top;
        margin-right: 1em;
        padding-left: 10%;
      }
      .fa-twitter {
        background: #55ACEE;
        color: white;
        display:inline-block;
        vertical-align:top;
        margin-right: 1em;
        padding-left: 10%;
      }
      .fa-youtube {
        background: #bb0000;
        color: white;
        display:inline-block;
        vertical-align:top;
        margin-right: 1em;
        padding-left: 10%;
      }
      .fa-pinterest {
        background: #cb2027;
        color: white;
        display: inline-block;
        vertical-align: top;
        margin-right: 1em;
        padding-left: 10%;
      }
      footer{
        background-color: #85888d;
         color: #1d1c1c;
         font-size: 1rem; 
         height: auto;
       }

    h3{
      color: black;
      font-size: 100;
      text-align: center;
      padding: 0.625rem 0.625rem;
      margin-bottom: 0rem;
      margin-top: 0rem;
      }